@import '../../colors.scss';
@import '../../media-queries.scss';
.estimation-view {
  
  > :not(:last-child) {
    margin-bottom: 2em;
  }

  &__header {
    width: 40%;
    @include media-all {
      width: 100%;
    }
  }
  &__story {
    font-size: 2em;
  }
  &__estimate {
    margin-top: 2em;
  }
}
