@import '../../media-queries.scss';
.login {
  &__header {
    width: 100%;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;

    @include media-mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__user {
    &__header {
      margin-bottom: 0.5em;
    }
  }
  &__create {
    height: 4em;
    width: 100%;
  }
  &__errors {
    margin-top: 2em;
  }

  &__form {
    display: grid;
    align-items: center;
    gap: 1em;

    &__button {
      height: 4em;
      grid-column-start: 2;
      width: 60%;
      margin-top: 1em;
      margin-left: auto;
    }
  }
}
