@import 'colors.scss';
@font-face {
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
}

* {
    color: $primary;
}

button, input[type=submit] {
    padding: 0.5em;
    border: 2px solid $primary;
    border-radius: 0.3em;
    background-color: inherit;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    &:hover {
        background-color: $secondary;
        color: $contrast;
    }

    &.big {
        font-size: 1.2em;
        border-width: 3px;
    }

    &.success {
        border-color: $success;
    }

    &.error {
        border-color: $error;
    }

}

label {
    font-size: 1.2em;
}

input[type=text] {
    color: $primary;
    font-size: 1.2em;
    border: 0;
    border-bottom: 1px solid $primary;
    padding-left: 0.25em;
    min-height: 2em;
    &::placeholder {
        color: $secondary;
    }
}

h1 {
    font-size: 3rem;
    border-bottom: solid 3px $secondary;
    font-weight: bold;
}

h2 {
    font-size: 2.5rem;
    &::after {
        content: '';
        display: block;
        border-bottom: solid 2px $secondary;
        width: 20%;
    }
}

*[tooltip] {
    position: relative;
    border-bottom: 2px solid $secondary;
    &:hover:before {
        content: attr(tooltip);
        background-color: $secondary;
        color: $contrast;
        border-radius: 0.2em;
        padding: 0.2em;
        text-align: center;
        bottom: -1.8em;
        left: 10%;
        position: absolute;
        white-space: nowrap;
        width: 200px;
      }
}

div[error] {
    border: 3px solid $error;
    background-color: lighten($error, 80%);
}

table {
    width: 50%;
    box-shadow: 0 0 40px 0 lighten($primary, 40%);
    border-collapse: collapse;
    thead {
        background-color: $primary;
        th {
            color: $contrast;
            font-size: 1.3em;
            padding: 0.8em;
            text-align: left;
        }
    }
    tbody{
        tr:nth-of-type(even) {
            background-color: darken($contrast, 5%);
        }
        tr {
            &:hover {
                background-color: $secondary;
                color: $contrast;
            }
        }
        td {
            font-size: 1.2em;
            padding: 0.8em;
        }
    }
    
}
